
/* normalize.css */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {display: block;}
audio, canvas, video {display: inline-block;}
audio:not([controls]) {display: none;height: 0;}
[hidden], template {display: none;}
html {
	font-family: sans-serif;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
body {margin: 0;}
a {background: transparent;}
a:active, a:hover {outline: 0;}
h1 {font-size: 2em;margin: 0.67em 0;}
abbr[title] {border-bottom: 1px dotted;}
b, strong {font-weight: bold;}
dfn {font-style: italic;}
hr {
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	height: 0;
}
mark {background: #ff0;color: #000;}
code,
kbd,
pre,
samp {font-family: monospace, serif;font-size: 1em;}
pre {white-space: pre-wrap;}
q {quotes: "\201C" "\201D" "\2018" "\2019";}
small {font-size: 80%;}
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
img {border: 0;}
svg:not(:root) {overflow: hidden;}
figure {margin: 0;}
fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}
legend {border: 0;padding: 0;}
button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	margin: 0;
}
button, input {line-height: normal;}
button, select {text-transform: none;}
button, html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}
button[disabled], html input[disabled] {cursor: default;}
input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}
input[type="search"] {
	-webkit-appearance: textfield;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button {-webkit-appearance: none;}
input[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
textarea {overflow: auto;vertical-align: top;}
table {border-collapse: collapse;border-spacing: 0;width:100%;}
dl, menu, ol, ul {margin: 1em 0;}
dd {margin: 0 0 0 40px;}
menu, ol, ul {padding: 0 0 0 40px;}
nav ul, nav ol {list-style: none outside none;}
/* normalize.css end */

/* reset */
body {line-height:1.2;-webkit-font-smoothing: antialiased;}
body, html {height:100%;width:100%;}
header, nav, section, article, aside, footer {display: block;}
input[type=button], input[type=submit], input[type=radio], input[type=checkbox], button, select{cursor:pointer;}
/*normalization mozila*/
button::-moz-focus-inner  {padding:0;border:0;}
input::-moz-focus-inner  {padding:0;border:0;}
input:-webkit-autofill {background-color: transparent;}
/*normalization ie7*/
*+html input[type=checkbox],
*+html input[type=radio] {width:13px;height:13px;}
input, button{overflow:visible;}
textarea{
	resize:none;
	overflow:auto;
}
em{font-style:italic;}
b, strong{font-weight:bold;}
a {
	cursor:pointer;	
	outline: none;
	text-decoration: underline;
}
a:hover {text-decoration: none;}
h1, h2, h3, h4, h5, h6{font-weight:100;margin:0;}
img {border: none;}
input {vertical-align: middle;}
blockquote, q {quotes: none;}
blockquote:before,
blockquote:after,
q:before,
q:after {
	content: '';
	content: none;
}
:focus {outline:none;}
button::-moz-focus-inner {border: none;}
input[type="reset"]::-moz-focus-inner {border: none;}
input[type="button"]::-moz-focus-inner {border: none;}
input[type="submit"]::-moz-focus-inner {border: none;}
input[type="submit"]::-moz-focus-inner {border: none;}
input[type="file"] > input[type="button"]::-moz-focus-inner {border: none;}
:focus {-moz-outline: 3px solid #fff !important;}
input[type="radio"]:focus {
	-moz-outline-radius: 12px !important;
	-moz-outline-offset: 0px !important;
}
input[type="checkbox"]:focus {
	-moz-outline-offset: -1px !important;
	-moz-outline: 1px solid #000 !important;
}
*+html a,
*+html button,
*+html input[type="submit"],
*+html input[type="radio"], 
*+html input[type="checkbox"], 
*+html input[type="button"] {
	noFocusLine: expression(this.onFocus=this.blur());
}
ins {text-decoration: none;}
del {text-decoration: line-through;}
/* reset end */

/* Fonts */
/* Fonts end */

/* ------ typographic styles ------ */
body {
	font: 14px/1.4 Roboto, Arial, Tahoma,  Verdana, sans-serif;
	height: 100%;
	color:#000;
	font-weight:100;
	background-color:#FFF;
}
h1, h2, h3, h4, h5 {
	font-weight:100;
	color:#000000;
	line-height:1.2;
	font-family: Roboto, Arial, Tahoma, Verdana, sans-serif;
	padding-bottom:10px;
}
h1 {font-size:45px;padding-bottom:70px; color:#5a81d1;}
h1 span {font-size:18px;color:#323232;font-weight:400;}
h2 {font-size:24px;padding-bottom:15px;font-weight:400;}
h3 {font-size:22px;padding-bottom:15px;}
h4 {font-size:20px;}
h5 {font-size:18px;}
h6 {font-size:16px;}
a {color: #000;text-decoration: underline;}
a:hover {text-decoration:none;}
img {border: none;vertical-align:top;}
.default-list {}
.default-list li {}
.decimal-list { 
	counter-reset: item;
}
.decimal-list li {}
.decimal-list li:before {
  content: counter(item) ') ';
  counter-increment: item;
}
.default-table {
	width:100%;
	border:none;
	margin-bottom:20px;
}
.default-table td,
.default-table th {
	padding:10px;
	border:none;
	font-size:14px;
	line-height: 1.4;
	background-color:#FFF;
	border:1px solid #dcdcdc;
	text-align:center;
}
.default-table tbody td {vertical-align:top;}
.default-table thead th:first-child,
.default-table tbody td:first-child {text-align:left;}
.default-table thead th {
	color:#000;
	font-size:14px;
	font-weight:bold;
	vertical-align:top;
	background-color:#FFF;
}

.form-line {}
.form-line label {}
.input-wrap {}

.input-holder,
input[type="text"],
input[type="password"],
textarea {border:1px solid #979797;padding:0 5px;}

input[type="text"],
input[type="password"],
textarea {padding:5px;}
input[type=number] {text-align: left;}

.input-holder.focus,
input[type="text"]:focus,
input[type="password"]:focus,
textarea:focus {border-color:#494949;}

.input-holder input[type="text"],
.input-holder input[type="password"],
.input-holder textarea {
	border:0;
	background:#fff;
	display:block;
	width:100%;
	color:#000;
	font: 14px/1.4 Arial, Tahoma, Verdana, sans-serif;
	padding:0;
	height: 17px;
	box-shadow:none;
}
.input-holder input[type="text"],
.input-holder input[type="password"],
.input-holder textarea {
	padding:5px 0;
	padding:4px 0 6px \0/;
	*padding:4px 0 6px;
}
@media all and (min-width:0px ){.input-holder input  {padding:6px 0 4px;}} /* hack for old opera from v12 */
.input-holder textarea{min-height: 70px;}
p {padding:0 0 18px;margin:0;}
blockquote,
q {}
hr {
	line-height:1px;
	height:0;
	border:none;
	background:none;
	border-bottom:1px solid #000;
	margin-bottom:25px;
}
/* placeholder */
::-webkit-input-placeholder {color: #CCC;}
:-moz-placeholder {color: #CCC;}
:-webkit-input-placeholder {color: #CCC;}
::-moz-placeholder {color: #CCC;}
:-ms-input-placeholder{color: #CCC;opacity:1;}
:-ms-input-placeholder{color: #CCC;opacity:1;}
.placeholder {color: #CCC;opacity:1;}


b, strong{
	font-family:'Roboto';	
	font-weight:500;
}
/* ------ typographic styles end ------ */

/* decor styles */

/* decor styles end */

/* btn */
[class^="btn-"],
[class*=" btn-"] {
	position: relative;
  text-align: center;
	text-decoration:none;
}
[class^="btn-"] input[type="submit"],
[class*=" btn-"]  input[type="submit"] {
	background: url("../img/empty.png") repeat;
	cursor: pointer;
	display: block;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 99;
	border:0;
}
/* btn end */

/* reset-ul */
[class$="-list"],
[class$="-list"] ul {
	margin:0;
	list-style:none;
	border:0;
	padding:0;
	background:none;
}
/* reset-ul end */

/* ========= main-blocks ========= */
.wrapper {
	min-width: 980px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	overflow:hidden;
}
.content {
	padding: 20px 0;
	position:relative;
	z-index:1;
}
.max-wrap {
	max-width:1200px;
	margin:0 auto;
	padding:0 5px;
}
/* ========= main-blocks end ========= */


/* ========= CSS STYLE BODY ========= */
.example {
	padding-bottom:30px;
}
.table-holder {
	background-color:#f3f3f3;
	border:1px solid #e1e0e0;
	font-weight:400;
	width:800px;
	float:left;
	margin-right:20px;
}
.code-table {
	overflow:hidden;
}
.code-table .title {
	font-weight:400;
}
.table-holder table {
	border:none;
	font-weight:400;
}
.table-holder table td {
	border:1px solid #e1e0e0;
	padding:5px;
}
.table-holder table tr:first-child td {
	border-top:none;
}
.table-holder table tr td:first-child {
	border-left:none;
}
.table-holder table tr td:last-child {
	border-right:none;
}
.table-holder table .spinner {
	width:40px;
	display:block;
	margin:0 auto;
	text-align:center;
}
.total {
	padding:10px;
	font-size:20px;
}
.table-holder i {
	font-style:normal;
}

.ui-spinner {
	position:relative;
	display:block;
}
.ui-spinner-up {
	position:absolute;
	right:20px;
	top:5px;
	text-decoration:none;
}
.ui-spinner-down {
	position:absolute;
	left:20px;
	top:5px;
	text-decoration:none;
}

#total-cost6-ather {
	background-color:violet;
	color:#FFF;
}
#total-cost6-deliver {
	background-color:grey;
	color:#FFF;
}
#total-cost6-deliver-bonus {
	background-color:orange;
	color:#FFF;
}

.fullwidth .table-holder {
	float:none;
	width:auto;
	margin-bottom:20px;
}

.product {
	overflow:hidden;
	padding:10px;
}
.product figure {
	float:left;
	width:200px;
	height:200px;
	margin-right:20px;
	background-color:#FFF;
}
.product .info {
	overflow:hidden;
}
.product h3 {font-weight:400;}
.product-spinner {
	position:relative;
	width:200px;
	margin-bottom:20px;
}
.product-spinner .ui-spinner {
	float:none;
	display:inline-block;
}
.product-spinner .spinner {
	width:50px;
	text-align:center;
}
.product-spinner .ui-spinner-up,
.product-spinner .ui-spinner-down {
	left:auto;
}
.product-spinner .ui-spinner-up {
	right:-40px;
}
.product-spinner .ui-spinner-down {
	right:-20px;
}
.amount-cost span {
	font-weight:700;
}
.amount-cost em {display:none;}

.weight,
.fastnums {
	overflow:hidden;
	padding:0 0 20px;
}
.weight .title,
.fastnums .title {
	font-size:16px;
	font-weight:400;
	padding-bottom:10px;
}
.weight input,
.fastnums input {
	margin-top:-3px;
	margin-right:5px;
}
.weight label,
.fastnums label {
	cursor:pointer;
}
.weight .checkbox,
.fastnums .checkbox {
	float:left;
	margin-right:10px;
}

.notes {
  color:#4180bb;
  font-weight:400;
  font-size:20px;
  text-align:center;
  padding-bottom:50px;
}
.notes a {
  color:#80bef8;
}

.examples-menu {
  padding-bottom:30px;
}
.examples-menu li {
  padding-bottom:7px;
  font-weight:400;
}
.examples-menu a {
  font-weight:400;
}

.totop {
  position:fixed;
  bottom:40%;
  left:20px;
  background-color:grey;
  padding:5px 15px;
  color:#FFF;
  cursor:pointer;
  font-weight:400;
  z-index:100;
}
.v {
  font-weight:400;
  font-size:12px;
  display:block;
}
.back {
  margin:0 0 20px;
  font-weight:400;
  font-size:16px;
  font-family:"Trebuchet MS";
}
.back a {
  margin-left:5px;
}
/* ========= CSS STYLE BODY end ========= */