.decimal-list {
	z-index: expression(
	runtimeStyle.zIndex = 1,
	function(node) {
		var list = node.childNodes, i = list.length;
			while(i--) {
				if(list[i].nodeType == 1) {
					list[i].insertAdjacentHTML('afterBegin', '<div>'+(i+1)+') </div>');
				}
			}
		}(this));
	)
}
.decimal-list div {
	position: static;
	color: #000;
	display:inline;
}