.inline-block,
[class^="icon-"],
[class*=" icon-"],
[class^="arrow-"],
[class*=" arrow-"],
[class^="soc-icon-"],
[class*=" soc-icon-"],
[class^="btn-"],
[class*=" btn-"],
[class^="corner-"],
[class*=" corner-"],
.pagination-list
{
	position:relative;
	display:-moz-inline-stack;
	display:inline-block;	
	zoom:1;
	*display:inline;
	vertical-align:top;
}